{% extends 'base.html' %}
{% block content %}
<h1>Events</h1>
<table class='table'>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>User ID</th>
        <th>Description</th>
    </tr>
{% for e in event_list %}
    <tr>
        <td>{{ e.eventtitle }}</td>
        <td>{{ e.eventdate }}</td>
        <td>{{ e.eventtime }}</td>
        <td>{{ e.eventlocation }}</td>
        <td>{{ e.userid }}</td>
        <td>{{ e.eventdescription }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}